<!-- -*- mode: XML -*- -->
<launch>
  <node ns="vehicle" pkg="dbw_pacifica_can" type="dbw_node" name="dbw" output="screen">
    <param name="dbw_dbc_file" textfile="$(find dbw_pacifica_can)/New_Eagle_DBW_3.1.292.dbc" />
    <remap from="can_rx" to="/can0/can_rx" />
    <remap from="can_tx" to="/can0/can_tx" />
  </node>

  <node ns="can0" pkg="socketcan_bridge" type="socketcan_to_topic_node" name="socketcan_to_topic" output="screen">
    <param name="can_device" value="can0" />
  </node>

  <node ns="can0" pkg="socketcan_bridge" type="topic_to_socketcan_node" name="topic_to_socketcan" output="screen">
    <param name="can_device" value="can0" />
  </node>

</launch>
